.home-main-section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-grow: 1;
}

.title{
   font-family: Dela Gothic One, Helvetica;
   font-weight: 400;
   color: #ffe5d9;
   font-size: 175px;
   margin-top: 0;
   margin-bottom: 0;
}

.pretitle{
   font-family: Quattrocento, Helvetica;
   font-weight: 400;
   color: #ffe5d9;
   font-size: 55px;
   margin-bottom: 0;
}

.subtitle{
   font-family: Quattrocento, Helvetica;
   font-weight: 400;
   color: #ffe5d9;
   font-size: 32px;
   margin-top: 0;
}